<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <title>Rob French - Research Papers, Presentations, and Patents</title>
  </head>

  <body style="padding-top:50px;">
    {% load static %}
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calling/">Square Dance Calling</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/papers/">Papers and Presentations <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
      <div class="jumbotron">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3">
            <img class="img-fluid rounded" src="{% static "papers/rob-papers.jpg" %}" alt="Rob's face"/>
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-12">
                <h1 class="display-4"><a href="/"><strong>Rob French</strong></a></h1>
                <h3>Research Papers, Presentations, and Patents</h3>
                <p class="lead">
                  <strong>Rob works at the <a target="_blank" href="https://www.seti.org/">SETI Institute</a>
                  in Mountain View, CA where he performs research on the outer planets of our solar system
                  and is deeply involved in the archiving of
                  <a target="_blank" href="https://pds-rings.seti.org/">NASA mission data</a>.</strong>
                </p>
                <p class="lead">
                  <strong>In previous careers he was involved in the design of highly-parallel processor
                  architectures for telecommunications, compiler algorithms for parallel processing, and the
                  development of instant messaging.</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-9">
        {% for category in categories %}
          <div class="card">
            <div class="card-header text-white bg-primary">
              <h1>{{ category }}</h1>
            </div>
            <div class="card-body">
              {% for category2, sub_categories in sub_categories.items %}
                {% if category == category2 %}
                  {% for sub_category in sub_categories %}
                    <h2 class="text-secondary">{{ sub_category.name }}</h2>
                    <table>
                      {% for papers_key, papers in papers.items %}
                        {% if papers_key.0 == category and papers_key.1 == sub_category.name %}
                          {% for paper in papers %}
                            <tr>
                              <td style="padding-right:15px;padding-top:15px;padding-bottom:15px;">
                                {% if paper.doc_type == 'Patent' %}
                                  <img src="{% static "papers/icon-patent.png" %}">
                                {% elif paper.doc_type == 'Presentation' %}
                                  <img src="{% static "papers/icon-presentation.png" %}">
                                {% elif paper.doc_type == 'Poster' %}
                                  <img src="{% static "papers/icon-poster.png" %}">
                                {% elif paper.doc_type == 'Press' %}
                                  <img src="{% static "papers/icon-newspaper.png" %}">
                                {% elif paper.doc_type == 'Journal Article' %}
                                  <img src="{% static "papers/icon-article.png" %}">
                                {% elif paper.doc_type == 'Technical Report' %}
                                  <img src="{% static "papers/icon-article.png" %}">
                                {% elif paper.doc_type == 'Conference Proceedings' %}
                                  <img src="{% static "papers/icon-article.png" %}">
                                {% elif paper.doc_type == 'Announcement' %}
                                  <img src="{% static "papers/icon-announcement.png" %}">
                                {% elif paper.doc_type == 'Thesis' %}
                                  <img src="{% static "papers/icon-thesis.png" %}">
                                {% elif paper.doc_type == 'Book' %}
                                  <img src="{% static "papers/icon-book.png" %}">
                                {% endif %}
                              </td>
                              <td style="padding-top:15px;padding-bottom:15px;">
                                {% if paper.full_text_link %}
                                  {% if paper.full_static_content %}
                                    <a target="_blank" href="{% static paper.full_text_link %}"><b>{{paper.title}}</b></a>
                                  {% else %}
                                    <a target="_blank" href="{{ paper.full_text_link }}"><b>{{paper.title}}</b></a>
                                  {% endif %}
                                {% else %}
                                  <b>{{paper.title}}</b>
                                {% endif %}
                                ({{ paper.doc_type }})
                                {% if paper.citation %}
                                  [{{ paper.year }}, {{ paper.citation }}]
                                {% else %}
                                  [{{ paper.year }}]
                                {% endif %}
                                {% if paper.journal_link %}
                                  [<a target="_blank" href="{{ paper.journal_link }}">Journal Article</a>]
                                {% endif %}
                                {% if paper.abstract_link %}
                                  {% if paper.abstract_static_content %}
                                    [<a target="_blank" href="{% static paper.abstract_link %}">Abstract</a>]
                                  {% else %}
                                    [<a target="_blank" href="{{ paper.abstract_link }}">Abstract</a>]
                                  {% endif %}
                                {% endif %}
                                {% if paper.ADS_link %}
                                  [<a target="_blank" href="{{ paper.ADS_link }}">ADS</a>]
                                {% endif %}
                                {% if paper.arXiv_link %}
                                  [<a target="_blank" href="{{ paper.arXiv_link }}">arXiv</a>]
                                {% endif %}
                                <br>
                                {% if paper.authors %}
                                  {{ paper.authors }}<br>
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                        {% endif %}
                      {% endfor %}
                    </table>
                    {% if sub_category.not_last_entry %}
                      <br>
                      <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6"><hr style="height:1px; border:solid 1px black; color:#000;"></div>
                      </div>
                    <br>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </div>

    <br>
    <div class="text-center">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>
