<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <title>Rob French's Home Page</title>
  </head>

  <body style="padding-top:50px;">
    {% load static %}
    <div class="container-fluid">
      <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/calling/">Square Dance Calling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/papers/">Papers and Presentations</a>
          </li>
        </ul>
      </nav>
      <div class="jumbotron">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-3">
            <img class="img-fluid rounded" src="{% static "main/rob-main.jpg" %}" alt="Rob's face"/>
          </div>
          <div class="col-7">
            <div class="row">
              <div class="col-12">
                <h1 class="display-4"><a href="/"><strong>Rob French</strong></a></h1>
                <h3>Bio</h3>
                <p class="lead">
                  Rob lives in Sunnyvale, CA with his wife and three cats.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2>Professional Information</h2>

      <ul>
        <li><a target="_blank" href="{% static "main/resume.pdf" %}""><strong>Curriculum Vitae</strong></a>
          (<a target="_blank" href="https://www.linkedin.com/in/rfrench">LinkedIn Profile</a>,
           <a target="_blank" href="https://www.researchgate.net/profile/Robert_French8">ResearchGate Profile</a>)
        <br>
        <li>Since 2010 I have worked for the <a target="_blank" href="https://www.seti.org/">SETI Institute</a>
            as an astronomer and <a target="_blank" href="https://pds-rings.seti.org/">data archivist</a>.
            Various <a href="/papers/">papers, presentations, and posters</a> are available for download.
        <br>
        <li>From 2003 to 2010 I worked as a full-time flight instructor at the Palo Alto airport.
            My <a target="_blank" href="http://balearntofly.com/">instructing web site</a> is inactive but still available.
        <br>
        <li>From 1996 to 2001 I was the co-founder and Director of Software Development for
            <a target="_blank" href="https://www.cnet.com/news/broadcom-adds-silicon-spice-to-its-shelf/">Silicon Spice</a>,
            a telecommunications startup. I was issued <a href="/papers/">18 patents</a> for my work on
            parallel hardware.
        <br>
        <li>From 1990 to 1996 I was a PhD student at Stanford, where I did research on parallel
            compilers and helped develop the
            <a target="_blank" href="https://suif.stanford.edu/suif/suif1/index.html">SUIF Compiler System</a>.
        <br>
        <li>Finally, from 1986 to 1990 I was an undergraduate at MIT, where I helped
            <a target="_blank" href="{% static "papers/usenix.pdf" %}">invent instant messaging</a>.
      </ul>

      <h2>Square Dancing</h2>

      <ul>
        <li>I have been an avid square dancer since 1990 and a <a href="calling/">professional square dance caller</a>
            since 1992.
      </ul>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>
</html>
